@font-face {
  font-family: 'HelveticaNeue-Thin';
  src: local("HelveticaNeue-Thin.otf"), url("../assets/fonts/HelveticaNeue-Thin.otf") format("opentype"); }

@font-face {
  font-family: 'Olivier';
  src: local("Olivier.ttf"), url("../assets/fonts/Olivier.ttf") format("truetype"); }

body {
  background: yellow; }

h1 {
  color: purple;
  font-size: 60px;
  position: relative;
  margin: 0 auto; }
