@include google-font('Montserrat:400,700');
@include helveticaNeueThin;
@include olivier;

* {
  box-sizing: border-box;
}

strong,
b {
  font-weight: 700;
}

em,
i {
  font-style: italic;
}

p,
ul li,
ol li {
  font-size: 17px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

body {
  font-family: 'Montserrat', sans-serif;
}
