#hero {
  background: url('../assets/images/png/nose-bg.png');
  background-size: cover;
  background-position: center;

  .container {
    @include container;
    .download {
      width: 50%;
      padding: 200px 0;
      position: relative;
      left: -100%;
      transition: 1s ease-out;
      &.animation {
        left: 0;
      }
      &__btn {
        @include btn;
        display: inline-block;
        margin-left: 20px;
        cursor: pointer;
        border-radius: 50px;
        text-align: center;
        white-space: nowrap;
        padding: 15px;
        /*min-width: 160px;*/
        color: #fff;
        background-color: #d9332d;
      }
      .hero {
        &__title {
          margin-bottom: 40px;
          color: white;
          &--reddish {
            color: #f55150;
          }
        }
        &__txt {
          font-size: 24px;
          line-height: 30px;
          font-family: 'HelveticaNeue-Thin';
          letter-spacing: .5px;
          margin-bottom: 50px;
        }
      }
    }
    .hov {
      position: relative;
      overflow: hidden;
      z-index: 5;
      &::before {
        @include hero-btn;
        padding-top: 2px;
        transform: translateX(-100%);
        background: #282828;
        transition: transform .3s cubic-bezier(.55, .055, .675, .19);
      }
      &::after {
        @include hero-btn;
        padding-top: 2px;
        color: #fcfcfc;
        transform: translateX(100%);
        transition: transform .3s cubic-bezier(.16, .73, .58, .62) .3s;
        content: "Download!";
        top: 30%;
      }
    }
    .hov:hover:after, .hov:hover:before {
      padding-top: 2px;
      transform: translateX(0);
    }
  }
}